<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".voice.VoiceDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.roborazzidemo.VOICE_TEST_WARMUP" />
                <action android:name="com.example.roborazzidemo.VOICE_TEST_ANNOUNCE" />
                <action android:name="com.example.roborazzidemo.VOICE_TEXT" />
                <action android:name="com.example.roborazzidemo.VOICE_SPOKEN" />
                <action android:name="com.example.roborazzidemo.VOICE_DISCONNECT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>